/* vars */
:root {
  --background-color: #ffffff;
  --link-color: #E2E3E3;
  --alt-link-color: #111;
  --body-color: #111111;
  --light-grey: #A9AAAA;
  --lighter-grey: #C6C7C6;
  --lightest-grey: #E2E3E3;
}

html {
    margin: 0;
}

body {
    background-color: var(--background-color);
    text-align: left;
    margin: 0;
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.6;
    min-width: 320px;
    height: 100%;
    position: relative;
}

.wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 1em;
}

.grid div {
  /*background-color:rgba(0,0,0,0.1);*/
}

.box {
    
}

.thumb-box h3, .box h3 {
  margin-top: 0;
}

#masthead {
    background-color: var(--body-color);
    padding: 1em;
    text-align: right;
}

.aside-holder .box p:last-child {
    padding-bottom: 1.6em;
    border-bottom: .75em solid var(--body-color);
}

#footer {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: .75em;
    background-color: var(--lightest-grey);
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}
h1 {
  font-size: 2.21em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}

#masthead h4 {
    margin: 0;
    font-weight: 300;
}

#masthead h4 a {
    color: var(--link-color);
    background-color: var(--body-color);
}

#masthead h4 a:hover {
    color: var(--link-color) !important;
}

#aside h2 {
    margin-top: 0
}

#aside p {
    font-size: .95em;
}

a {
  white-space: nowrap;
  transition: color, background-color 0.333s ease-in-out;
  padding: 0 .5em;
  color: var(--link-color);
  background-color: var(--alt-link-color);
  text-decoration: none;
}

a:hover {
    color: var(--alt-link-color) !important;
    background-color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

.r-image {
    display: block;
    width: 100%;
    height: auto;
}

.post {
  padding: 0em 0em 2em 0em;
}

.post:first-child {
  padding-top: .3em;
}

.post:first-child h1 {
  margin-top: 0;
}

.post h1, .overlay h1 {
  font-style: italic;
}

.overlay h1 {
  margin-top: 0;
}

.post p {
  clear: both;
}

.post p.date {
  margin-top: 0;
  color: #bbbbbb;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}

/*for thumbnail type layout */

.thumbs {
  grid-gap: 2em;
  padding: 2em 1em;
}

.posts {
  grid-gap: 2em;
  padding: 2em 1em;
}

.thumb {
  cursor: pointer;
}

.thumb .body {
  display: none;
}

.overlay-holder {
  position: relative;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out ;
}

.overlay-odd:before {
  background-color: var(--body-color);
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: -.5em;
  right: 1em;
  transform: rotate(45deg);
}

.overlay-even:before {
  background-color: var(--body-color);
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: -.5em;
  left: 1em;
  transform: rotate(45deg);
}

.overlay-holder.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.overlay-holder.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.overlay {
  padding: 2em;
  background-color: var(--body-color);
  color: var(--background-color);
}

@media (min-width: 700px) {
  .overlay-holder {
      grid-column: 5 / span 8;
    }
}

@media (max-width: 699px) {
  .overlay-holder {
      grid-column: span 12;
    }
}

.overlay .close-holder {
  width: 100%;
  overflow: hidden;
}

.overlay #close {
  display: inline-block;
  text-align: center;
  width: 1.6em; 
  height: 1.6em;
  float: right;
  cursor: pointer;
}

.overlay #close svg {
  stroke: var(--background-color);
}

/*
.overlay #close {
  font-family: 'Roboto Mono', monospace;
  background: var(--body-color);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border: 2px solid var(--background-color);
  color: var(--background-color);
  display: inline-block;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
  float: right;
  cursor: pointer;
}
*/

/* for variable type sizing */
@media screen and (min-width: 320px) {
  body {
    font-size: calc(12px + 6 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }

}

@media (max-width: 699px) {

  .aside-holder .box .half {
    width: calc(50% - 1em);
    float: left;
  }

  .aside-holder .thumb-box .half {
    width: calc(50% - 1em);
    float: left;
  }

  .aside-holder .box {
    overflow: hidden;
    padding-bottom: 2em;
    border-bottom: .75em solid var(--body-color);
  }

  .aside-holder .thumb-box {
    overflow: hidden;
    padding-bottom: 2em;
    border-bottom: .75em solid var(--body-color);
  }

  .aside-holder .box .half:last-child {
    margin-left: 2em;
  }

  .aside-holder .thumb-box .half:last-child {
    margin-left: 2em;
  }

  .aside-holder .box p:last-child, .aside-holder .thumb-box p:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

}